div.bestItem {
  background: linear-gradient(10deg, transparent 50%, #054d43 50.1%);
  background-size: 100% 720px;
}

div.bestItem header {
  text-align: right;
}

div.bestItem header h3 {
  margin: 0 10px;
}

div.bestItem section article {
  width: calc(100% / 3 - 20px);
}

div.bestItem section article:hover .image:last-of-type {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

div.bestItem section article .imgGroup {
  height: 280px;
  position: relative;
}

div.bestItem section article .imgGroup .image {
  position: absolute;
}

div.bestItem section article .texts .txtLeft h5:first-of-type {
  line-height: 20px;
}

div.bestItem section article .texts .txtLeft h5 span {
  font-weight: 300;
  font-size: 12px;
}

div.bestItem section article:nth-of-type(2) {
  margin-top: 60px;
}

div.bestItem section article:last-of-type {
  margin-top: 120px;
}

div.bestItem section article .i1 {
  background-image: url("../img/index/best_item_1.jpg");
}

div.bestItem section article .i2 {
  background-image: url("../img/index/best_item_2.jpg");
}

div.bestItem section article .i3 {
  background-image: url("../img/index/best_item_3.jpg");
}

div.bestItem section article .i4 {
  background-image: url("../img/index/best_item_4.jpg");
}

div.bestItem section article .i5 {
  background-image: url("../img/index/best_item_5.jpg");
}

div.bestItem section article .i6 {
  background-image: url("../img/index/best_item_6.jpg");
}
