div.mnWrap {
  background-image: url("../img/sub1_Product/main.jpg");
}

div.title header {
  text-align: center;
}

div.title section .artGroup {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.title section article {
  width: calc(100% / 6 - 20px);
}

div.title section article .texts {
  margin-top: 0;
}

div.title section article .texts h6 {
  font-weight: 300;
}

div.title .i1 {
  background-image: url(../img/sub1_Product/title_1.jpg);
}

div.title .i2 {
  background-image: url(../img/sub1_Product/title_2.jpg);
}

div.title .i3 {
  background-image: url(../img/sub1_Product/title_3.jpg);
}

div.title .i4 {
  background-image: url(../img/sub1_Product/title_4.jpg);
}

div.title .i5 {
  background-image: url(../img/sub1_Product/title_5.jpg);
}

div.title .i6 {
  background-image: url(../img/sub1_Product/title_6.jpg);
}

div.cabinet section article {
  width: calc(50% - 20px);
}

div.cabinet section article .tW1 {
  margin-left: 22%;
  margin-top: 7%;
}

div.cabinet section article .tW2 {
  margin-left: 15%;
  margin-top: 49%;
}

div.cabinet section article .tW3 {
  margin-left: 12%;
  margin-top: 45%;
}

div.cabinet section article .tW4 {
  margin-left: 33%;
  margin-top: 87%;
}

div.cabinet .i1 {
  background-image: url("../img/sub1_Product/cabinet_1.jpg");
}

div.cabinet .i2 {
  background-image: url("../img/sub1_Product/cabinet_2.jpg");
}

div.closet section .artGroup {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
}

div.closet section article {
  width: calc(100% / 3 - 20px);
}

div.closet .i1 {
  background-image: url("../img/sub1_Product/closet_1.jpg");
}

div.closet .i2 {
  background-image: url("../img/sub1_Product/closet_2.jpg");
}

div.closet .i3 {
  background-image: url("../img/sub1_Product/closet_3.jpg");
}

div.closet .i4 {
  background-image: url("../img/sub1_Product/closet_4.jpg");
}

div.closet .i5 {
  background-image: url("../img/sub1_Product/closet_5.jpg");
}

div.closet .i6 {
  background-image: url("../img/sub1_Product/closet_6.jpg");
}

div.storage section article {
  width: calc(100% - 20px);
  margin: 0 auto;
}

div.storage section article .tW1 {
  margin-left: 47%;
  margin-top: 8%;
}

div.storage section article .tW2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 14%;
  margin-top: 22%;
}

div.storage section article .tW3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30%;
  margin-top: 35%;
}

div.storage section article .tW3 .texts {
  margin: 0;
  margin-top: 10px;
}

div.storage section article .tW4 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 42%;
  margin-top: 50%;
}

div.storage .i1 {
  background-image: url("../img/sub1_Product/storage_1.jpg");
}

div.sofaBed section .artGroup {
  width: calc(100% / 3 * 5);
}

div.sofaBed section article {
  width: calc(100% / 5 - 20px);
}

div.sofaBed .i1 {
  background-image: url("../img/sub1_Product/sofaBed_1.jpg");
}

div.sofaBed .i2 {
  background-image: url("../img/sub1_Product/sofaBed_2.jpg");
}

div.sofaBed .i3 {
  background-image: url("../img/sub1_Product/sofaBed_3.jpg");
}

div.sofaBed .i4 {
  background-image: url("../img/sub1_Product/sofaBed_4.jpg");
}

div.sofaBed .i5 {
  background-image: url("../img/sub1_Product/sofaBed_5.jpg");
}

div.sofaBed .i6 {
  background-image: url("../img/sub1_Product/sofaBed_6.jpg");
}

div.sofaBed .i7 {
  background-image: url("../img/sub1_Product/sofaBed_7.jpg");
}

div.sofaBed .i8 {
  background-image: url("../img/sub1_Product/sofaBed_8.jpg");
}

div.sofaBed .i9 {
  background-image: url("../img/sub1_Product/sofaBed_9.jpg");
}

div.sofaBed .i10 {
  background-image: url("../img/sub1_Product/sofaBed_10.jpg");
}

@media (min-width: 421px) {
  .title section article:hover h6 {
    font-weight: 700;
    text-decoration: underline;
    text-underline-position: under;
  }
}

@media (max-width: 420px) {
  div.title header {
    text-align: left;
  }
  div.title .artGroup {
    width: 200%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  div.cabinet section .artGroup {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
  div.cabinet section article {
    width: 100%;
  }
  div.cabinet section article .tW1 {
    margin-left: 5%;
  }
  div.cabinet section article .tW2 {
    margin-left: 0;
  }
  div.cabinet section article .tW3 {
    margin-left: 0;
  }
  div.cabinet section article .tW4 {
    margin-left: 15%;
  }
  div.closet section .artGroup {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 20px;
  }
  div.closet section article {
    width: 100%;
  }
  div.closet section article .texts .txtLeft h5 span {
    font-size: 10px;
  }
  div.storage section .artGroup {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
  div.storage section article {
    width: 100%;
  }
  div.storage section article .tW1 {
    margin-left: 10%;
  }
  div.storage section article .tW2 {
    margin-left: 12%;
  }
  div.storage section article .tW3 {
    margin-left: 30%;
    margin-top: 35%;
  }
  div.storage section article .tW4 {
    margin-top: 30%;
  }
  div.sofaBed section article {
    width: calc(100% / 5 - 20px);
  }
}
