@mixin ctWidth {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@mixin ctFonts($fw, $fz, $lh, $c) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $c;
}

@mixin dpFlex ($jc) {
    display: flex;
    justify-content: $jc;
}

@mixin img {
    background-position: center;
    background-size: cover;
}

div.mnWrap {
    height: 200px;
    padding: 90px 0;
}

div.media {

    // outline: 5px solid greenyellow;
    section {
        // outline: 5px solid blue;
        margin-top: 80px;
    }

    .s1 {
        background: none;

        article {
            // outline: 1px solid red;

            header {
                width: 340px;
                margin: 0 auto;
                padding: 0;

                h4 {
                    @include ctFonts(500, 18px, 20px, inherit);
                }

                h3 {
                    line-height: 40px;
                }
            }

            .image {
                margin-top: 20px;
            }
        }
    }

    .s2 {
        background: none;

        article {
            // outline: 1px solid red;

            header {
                h4 {
                    @include ctFonts(700, 18px, 40px, inherit);
                    width: 80px;
                    padding: 0;
                }

                p {
                    // outline: 1px solid red;
                    color: #293443;
                    margin-top: 0;
                    br{
                        display: none;
                    }
                }
            }

            iframe {
                // outline: 1px solid orange;
                width: 100%;
                height: 260px;
                margin-top: 20px;
            }
        }
    }

    .s3 {
        background: none;
        padding-top: 0;
        margin-top: 80px;

        article {
            // outline: 1px solid red;
            width: calc((100% / 2) - 20px);


            .texts {
                margin-top: 20px;

                h5 {
                    @include ctFonts(700, 16px, 30px, inherit);
                }

                h6 {
                    @include ctFonts(300, 12px, 20px, inherit);
                }

                p {
                    margin-top: 10px;
                }
            }
        }
    }

    .s4 {
        background: none;

        article {
            // outline: 1px solid red;
            margin-top: 20px;

            &:first-of-type {
                background: none;
                
                .image {
                    margin-top: 20px;
                }
            }

            &:nth-of-type(2) {
                background: none;
            }

            &:last-of-type {
                padding-bottom: 0;
            }

            h4 {
                @include ctFonts(700, 18px, 40px, inherit);
            }

            .image {
                width: 100%;
                height: 400px;
            }
        }
    }

    .s5 {
        row-gap: 20px;
        margin-top: 20px;

        article {
            display: none;
        }

        footer {
            // outline: 1px solid red;
            margin: 0;
            margin-top: 40px;

            h5 {
                @include ctFonts(100, 12px, 20px, inherit);
                height: 20px;
                overflow: hidden;
                pointer-events: none;

                span {
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}